[Unit]
Description={{ app_name }} service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python {{ app_path }}/run.py
Restart=on-abort

[Install]
WantedBy=multi-user.target